.review-card-header {
  margin: 10px 10px 0px 10px;
}

.review-text {
  color: rgb(37, 174, 177);
}

hr.line {
  border-top: 1px dotted rgb(37, 174, 177);
}

.review-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  margin-left: 100px;
  /* margin-right: 200px; */
}

.reviewCard {
  background-color: white;
  border: 1px solid rgb(36, 174, 177);
  width: 420px;
}

.star-img {
  float: right;
}

.frstcont {
  display: flex;
  background-color: #e0f8ff;
  height: 700px;
  gap: 5px;
  background-color: rgb(224, 248, 255);
}
.inner {
  width: 700px;
  height: 400px;
  margin: auto;
}
.radio {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 13px;
  margin-right: 7px;
}
.radio > img {
  max-width: 100%;
}
.small > p {
  margin-top: 9px;
}
.inner_1 {
  width: 350px;
  height: 450px;
  border: 1px solid wheat;
  margin: auto;
  gap: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.inner img {
  max-width: 100%;
}
.small {
  margin-left: 15px;
  width: 150px;
  height: 40px;
  border: 1px solid rgb(204, 204, 204);
  margin-top: 10px;
  float: left;
  clear: right;
  margin-bottom: 10px;
}
.lege {
  color: rgb(2, 183, 198);
  margin-left: 15px;
  margin-top: 20px;
  font-weight: bold;
}

.in {
  width: 300px;
  height: 30px;
  margin-left: 15px;
}
/*2nd container */
.mainicon {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  gap: 30px;
}
.smallcon {
  height: 65px;
  width: 200px;
  margin-left: 40px;
}
.cir_icon {
  height: 65px;
  width: 65px;
  border-radius: 35px;
  float: left;
  margin-right: 15px;
}
.cir_icon > img {
  max-width: 100%;
}
.secdcon h1 {
  margin-left: 10px;
}
.secdcon p {
  margin-left: 10px;
  color: rgb(133, 137, 140);
}
.secdcon {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}
/* third container   */
.box_con {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  margin: auto;
  gap: 2%;
  background-color: rgb(246, 246, 247);
}
.thirdcon {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.thirdcon > h1 {
  margin-left: 20px;
}
.thirdcon > p {
  margin-left: 20px;
  color: rgb(133, 137, 140);
}
.boxes {
  height: 350px;
  width: 300px;
  margin: auto;
  padding: 4%;
}
.line {
  font-size: 15px;
  font-weight: lighter;
  text-decoration: line-through;
  color: black;
}
.line1 {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
.boxes h3 {
  color: red;
}
.book {
  width: 170px;
  height: 50px;
  background-color: white;
  color: teal;
  font-weight: bold;
  margin-left: 60px;
  cursor: pointer;
}
.imgleft {
  width: 150px;
  height: 250px;
  float: right;
}
.imgleft img {
  max-width: 100%;
  border-radius: 10px;
}
.col_1 {
  background-color: rgb(255, 244, 235);
}
.col_2 {
  background-color: rgb(234, 250, 255);
}
.col_3 {
  background-color: rgb(246, 250, 232);
}
.col_4 {
  background-color: rgb(235, 255, 252);
}
/* 4th container    */

.fourthcon {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.fourthcon > h1 {
  margin-left: 20px;
}
.fourthcon > p {
  margin-left: 20px;
  color: rgb(133, 137, 140);
}
.review_con {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 2%;
  margin: auto;
}
.review_box {
  height: 280px;
  width: 280px;
  border: 1px solid teal;
  border-radius: 5px;
  background-color: white;
  margin-left: 100px;
  padding: 20px;
}
.review_box p {
  color: teal;
}
.review_box span {
  float: right;
}
/*our highlights  */
.fifthcon {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.highlight-img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.highlight-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 1%;
  margin-left: 100px;
  margin-right: 100px;
}

.highlight-card {
  height: 70px;
  width: 350px;
}

.fifthcon > h1 {
  margin-left: 20px;
}
.fifthcon > p {
  margin-left: 20px;
  color: rgb(133, 137, 140);
}
.high_con {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: auto;
  padding: 15px;
}
.high_box {
  height: 100px;
  width: 300px;
  border: 1px solid rgb(248, 242, 242);
  border-radius: 10px;
}
.high_icon {
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 38px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 15px;
}
.high_icon > img {
  max-width: 100%;
}
/*lab partner */
.sixthcon {
  border-bottom: 1px solid rgb(206, 208, 209);
  margin-left: 100px;
  margin-top: 20px;
}
.sixthcon > h1 {
  margin-left: 15px;
}
.sixthcon > p {
  margin-left: 15px;
  color: rgb(133, 137, 140);
}
.lab_box {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding: 5%;
}
.lab_img {
  height: 100px;
  width: 180px;
  justify-content: center;
}
.lab_img img {
  max-width: 100%;
  padding: 15px;
}


.footer-title{
    margin-left:0px;
    margin-top:20px;
}