#navbar {
  background-color: rgb(50, 174, 177);
  height: 150px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

#searchBar {
  margin-left: 30px;
  margin-top: 20px;
  width: 800px !important;
  margin-right: 250px;
}

.icons-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 16%);
  gap: 1%;
  margin-left: 350px !important;
}

.icon {
  width: 50px;
  height: 50px;
}

.navbarItems {
  margin: 10px;
}

#logo {
  width: 150px;
  height: 75px;
  margin-left: 250px;
}

.iconDiv {
  text-align: center;
  line-height: 80px;
  display: flex;
  align-items: center;
  width: 240px;
  height: 80px;
  cursor: pointer;
}
.carticon_new {
  text-align: center;
  line-height: 80px;
  display: flex;
  align-items: center;
  width: 50px;
  height: 80px;
  cursor: pointer;
  /* border: 1px solid black; */
}
#signin {
  margin-top: 28px;
  /* margin-right: 20px; */
}

#signup {
  margin-top: 28px;
}

#carouselExampleFade {
  margin: 20px 100px 20px 100px;
}

.card-wrapper {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 2%;
  margin-left: 100px;
}

.footer-title {
  margin-left: 0px;
  margin-top: 20px;
}

body {
  background-color: #f3f3f3;
}

.card-img {
  margin: 20px;
  width: 50px;
  height: 50px;
  float: left;
}

.card-title {
  color: black;
  font-weight: 100px;
}

.card-text {
  color: green;
}

.offer-wrapper {
  color: black;
  display: grid;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-columns: repeat(3, 30%);
  font-size: 10px !important;
  height: 25px;
  gap: 2%;
}

h3 {
  color: black;
  margin-left: 100px;
  margin-top: 20px;
}

.offer-card-title {
  font-size: 15px;
}

.offer-class {
  height: 90px;
}

.offer-card-img {
  height: 50px;
  width: 50px;
  margin: 20px;
}

.order-wrapper {
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 1%;
  margin-top: 100px;
  margin-left: 100px;
  width: 1690px;
}

.vl {
  border-left: 1px solid #151b39;
  height: 130px;
  width: 5px;
  margin-top: 20px;
  width: 800px;
}

.order {
  background-color: #f3f3f3 !important;
  border: none;
}

.beauty {
  background-color: #f3f3f3 !important;
  border: none;
}

.btn-medicine {
  background-color: rgb(37, 177, 177);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
